<!DOCTYPE html>
<html>
<head>
	<title>Mijn Toernooi</title>
	<meta charset="utf-8">
	<meta name="" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="myApp">

	<nav>
		<h1 class="mijn-toernooi">Mijn Toernooi</h1>
		<ul>
			<li>Home</li>
			<li>Programma</li>
			<li>Uitslagen</li>
			<li>Stand</li>
		</ul>
	</nav>
	<section class="home" ng-controller="TeamController as vm">
		<h4 class="">Welkom bij Mijn Toernooi!</h4>
		
		<span class="teams">Deelnemende teams: </span>
		<ul class="team-list">
			<li ng-repeat="team in vm.teams">{{team}}</li>
		</ul>

		<p>Voeg een team toe</p>
		<form name="addTeamForm" class="add-team-form" ng-submit="vm.addNewTeam()">
			<input type="text" ng-model="vm.newTeam" placeholder="Naam team" required/>
			<input type="submit" ng-disabled="addTeamForm.$disabled"/>
		</form>

	</section>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>